
body{
	background-image: url("../images/Robot.jpg");
	
}
.container{
  background-color: #ee9393c4;
  height:100%;
  width:90%;
  text-align: center;
}

.row {
  display:block;
  overflow:visible;
  padding-bottom: 200px;
  margin-top: 50px;
}

#headfont{
  font-family:'Bungee Shade';
  font-size: 60px;
  padding-top: 60px;
  text-align: center;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.question{
  font-family: 'Anton', sans-serif;
  line-height: 40px;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  display:block;
}

#answer{
  font-family: 'Anton', sans-serif;
  line-height: 40px;
  font-size: 30px;
  margin:0 auto;
  display: block;
}

#line6{
  text-align: center;
  display:block;
}

@media  (max-width: 767px) {

  .container{
    background-color: #ee9393c4;
    height:100%;
    width:90%;
    text-align: center;
  }
  #headfont{
    font-family:'Bungee Shade';
    font-size: 30px;
    text-align: center;
    padding-top: 5px;
  }
  .question{
    font-family: 'Anton', sans-serif;
    line-height: 20px;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 10px;
    display:block;
  }
  
  #answer{
    font-family: 'Anton', sans-serif;
    line-height: 20px;
    font-size: 15px;
    margin:0 auto;
    display: block;
  }
}








